main{
    text-align: center;
}

.item-portfolio{
    background-color: #A877D0;
    display: inline-block;
    margin: 60px;
    border: 1px solid #000;
}

.item-portfolio a{
    text-decoration: none;
    color: #fff;
    font-family: 'Work Sans', sans-serif;  
}

.item-portfolio img{
    width: 416px;
    height: 526px;
}