body{
    margin: 0%;
}

nav{
    background-color: #A877D0;
    width: 100%;
    text-align: center;
    position: fixed;
    color: #000;
    font-family: 'Work Sans', sans-serif;
}

nav ul li{
    display: inline;
    margin: 30px;
    font-size: x-large;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

header{
    background-color: #301347;
    padding: 190px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

header img{
    height: 400px;
    display: flex;
    float: left;
    margin-top: -105px;
}

section{
    margin: 50px;
    padding: 50px;
    color: #000;
    background-color: #A877D0;
    font-family: 'Work Sans', sans-serif;
    border-radius: 20px;
}

footer{
    background-color: #301347;
    padding: 15px;
    text-align: center;
    color: white;
}

h1.tittle{
    text-decoration: underline;
    letter-spacing: 5px;
    font-size: 70px;
    font-family: 'Work Sans', sans-serif;
    color: #000;
}

 